* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 20px;
}

.featuredIcons {
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-top: 20px;
	flex-wrap: wrap;
}

.featuredIcons span {
	display: block;
}

.featuredIcons span:last-child {
	font-weight: 600;
}

@media only screen and (max-width: 767px) {
	.featuredIcons {
		justify-content: space-evenly;
	}
	.featuredIcons li {
		max-width: 30%;
		margin-bottom: 20px;
	}
}