.topStoryContainer {
	display: flex;
	justify-content: space-around;
}
.storyContainer {
	display: flex;
}
.subStoryContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
}
.shortStoryContainer {
	display: flex;
	flex: 3;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-right: 1rem;
	border: 1px solid black;
}
.shortStoryContainer > div {
	width: 35%;
}
.shortStoryContainer > .yellowBox, 
.shortStoryContainer > .blueBox {
	display: flex;
	min-height: 150px;
	justify-content: space-between;
}
.shortStoryContainer > .yellowBox > div, 
.shortStoryContainer > .blueBox > div {
	flex: 1;
	background-color: #0ff;
	margin: 1rem;
}

@media only screen and (max-width: 991px) {
	.topStoryContainer,
	.shortStoryContainer > .yellowBox,
	.shortStoryContainer > .blueBox,
	.shortStoryContainer,
	.storyContainer,
	.subStoryContainer {
		flex-direction: column;
	}
	.shortStoryContainer {
		margin: 0 1rem;
	}
	.shortStoryContainer > div {
		width: inherit;
	}
}
