* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ccc;
	font-family: sans-serif;
	padding: 1rem;
}

.topStoryContainer {
	display: flex;
	justify-content: space-around;
}

.blueBox, .yellowBox, .whiteBox, .greenBox, footer {
	padding: 3vw;
	margin: 1rem;
}

.blueBox {
	background-color: blue;
	color: white;
}

.yellowBox {
	background-color: yellow;
}

.whiteBox {
	background-color: white;
}

.greenBox {
	background-color: green;
	color: white;
}

.storyContainer {
	display: flex;
}

.subStoryContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.shortStoryContainer {
	display: flex;
	flex: 3;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-right: 1rem;
	border: 1px solid black;
}

.shortStoryContainer > div {
	width: 35%;
}

.shortStoryContainer > .yellowBox, .shortStoryContainer > .blueBox {
	display: flex;
	min-height: 150px;
	justify-content: space-between;
}

.shortStoryContainer > .yellowBox > div, .shortStoryContainer > .blueBox > div {
	flex: 1;
	background-color: cyan;
	margin: 1rem;
}

footer {
	background-color: black;
	color: grey;
	text-align: center;
}

@media only screen and (max-width: 991px) {
	.topStoryContainer,
	.shortStoryContainer > .yellowBox,
	.shortStoryContainer > .blueBox,
	.shortStoryContainer,
	.storyContainer,
	.subStoryContainer {
		flex-direction: column;
	}
	.shortStoryContainer {
		margin: 0 1rem;
	}
	.shortStoryContainer > div {
		width: inherit;
	}
}
