.topArrow,
.rightArrow,
.bottomArrow,
.leftArrow {
	position: relative;
	padding: 60px 20px;
}
.topArrow::after,
.rightArrow::after,
.bottomArrow::after,
.leftArrow::after {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translateY(-50%);
	transform: rotate(45deg);
}
.topArrow::after {
	border-left: 20px solid black;
	border-top: 20px solid black;
}
.rightArrow::after {
	border-top: 20px solid black;
	border-right: 20px solid black;
}
.bottomArrow::after {
	border-right: 20px solid black;
	border-bottom: 20px solid black;
}
.leftArrow::after {
	border-bottom: 20px solid black;
	border-left: 20px solid black;
}
