*{
	margin: 0;
	padding: 0;
}

:root{
	font-size: 20px;
}

body{
	font-family: sans-serif;
	font-size: 14px;
}

.units{
	display: flex;
	flex-direction: column;
}

.units > div{
	background: lightcoral;
	margin: 15px;
}

.units > div h3{
	color: #000;
	font-weight:600;
}

.pixel{
	width:5px;
}

.inches{
	width:5in;
}

.centimeters{
	width:5cm;
}

.milimeters{
	width:5mm;
}

.points{
	width:5pt;
}

.picas{
	width:5pc;
}

.percent-parent{
	width: 400px;
	height: 400px;
	background: rgba(117,117,117,0.5);
}

.percent-parent .percent-child{
	width: 50%;
	height: 50%;
	background: lightblue;
}


/*================  Viewport css here  ================*/

.viewportUnits > div{
	margin: 15px;
}

.vw, .vh{
  background: rgba(0,0,0,0.1);
  padding: 2em;
  box-sizing: border-box;
}

.vw{
  width: 50vw;
  height: auto;
}

.vw h1{
	font-size: 5vw;
	margin-bottom: 15px;
}

.vw h3{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.vh h1{
  font-size: 12vh;
}

.vmax{
  background: #ddd;
  height: 350px;
  width: 30vmax;
}

.vmin{
  background: #ddd;
  height: 350px;
  width: 30vmin;
}

.rem h1{
	font-size: 1rem;
}

.wrapper{
	font-size: 10px;
}

.em{
	font-size: 2em;
  background: rgba(117,117,117,0.1);
  width: 6em;
}

