.bannerSection 
  padding-top: 79px
  min-height: 421px
  background-color: #282c34
  display: flex
  justify-content: center
  align-items: center
  position: relative
  overflow: hidden
  h1
    color: #dcedc8
  .bannerBackground
    position: absolute
    font-size: 200px
    opacity: 0.3
    top: 57%
    right: 5%
section
  padding: 50px 0
  h1
    margin-bottom: 50px
.technologySection
  .col-*
    display: flex
    justify-content: center
    align-items: center
.frontEndStack
  h2
    position: relative
    padding: 30px 0
    display: inline-block
    &:before
      content: ''
      width: 100%
      height: 2px
      position: absolute
      top: 0
      right: 30px
      background-color: #dcedc8
    &:after
      content: ''
      width: 100%
      height: 2px
      position: absolute
      bottom: 0
      left: 30px
      background-color: #dcedc8
.backEndStack
  h2
    position: relative
    padding: 30px
    display: inline-block
    &:before
      content: ''
      width: 100%
      height: 2px
      position: absolute
      top: 0
      left: 30px
      background-color: #dcedc8
    &:after
      content: ''
      width: 100%
      height: 2px
      background-color: #dcedc8
