<section class="bannerSection">
  <h1>Great Web Apps</h1>
  <div class="bannerBackground">
    {{'{eS}'}}
  </div>
</section>
<section class="servicesSection">
  <h1>Our Services</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-card>
          <mat-card-title>
            Hello
          </mat-card-title>
          <mat-card-footer>
            World
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card>
          <mat-card-title>
            Hello
          </mat-card-title>
          <mat-card-footer>
            Again
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card>
          <mat-card-title>
            Hello
          </mat-card-title>
          <mat-card-footer>
            World
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
  
</section>